<div class="sidebar">
    <div class="sidebar-header">
        <h2>Menu</h2>
    </div>

    <ul class="sidebar-menu">
        <li><i class="fas fa-home"></i> Acceuil</li>
        <li><i class="fas fa-box"></i> Stocks</li>
        <li><i class="fas fa-shopping-cart"></i> Orders
            <ul class="submenu">
                <li><i class="fas fa-map-marker-alt"></i> Locale</li>
                <li><i class="fas fa-globe"></i> Internationale</li>
            </ul>
        </li>
        <li><i class="fas fa-wallet"></i> Budgets</li>
    </ul>
</div>