<div class="layout">
    <div class="content">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content">
        <app-navbar></app-navbar>
        
 
        <main class="dashboard-container">
            <section class="grid-cards">
                <div class="card">
                    <i class="fas fa-solid fa-users"></i>
                    <h3>Users</h3>
                    <p>1,500 Active Users</p>
                </div>
                <div class="card">
                    <i class="fa-solid fa-notes-medical"></i>
                    <h3>Orders</h3>
                    <p>320 New Orders</p>
                </div>
                <div class="card">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <h3>Revenue</h3>
                    <p>$12,800</p>
                </div>
                <div class="card">
                    <h3>Highest demand for drugs</h3>
                    <p>Statistics & Trends</p>
                </div>
                <div class="card wide-card">
                    <h3>Most Common Diseases</h3>
                    <p>Live Health Data</p>
                </div>
            </section>
        </main>
    </div>
</div>

<button class="alert-button"><i class="fa-solid fa-bell"></i></button>
<button class="substitutions-button"><i class="fa-solid fa-sync"></i></button>
