/* Styles généraux */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f7;
}



/* Contenu principal */
.main-content {
  transition: margin-left 0.3s ease-in-out;
  margin-left: 0;
  padding: 20px;
  width: 80%;
  text-align: center;
}

.main-content.shifted {
  margin-left: 250px;
}

/* Navbar */
.navbar {
  background: white;
  display: flex;
  justify-content: space-between; /* Espacement entre les éléments */
  align-items: center;
  width: calc(100vw - 290px); /* 100% de l'écran - largeur du sidebar */
  margin-left: 250px; /* Décale la navbar à droite du sidebar */
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* S'assurer qu'il est au-dessus des autres éléments */
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.search-bar input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.user-info {
  position: absolute;
  right: 15px;
}

.user-info i {
  margin-left: 15px;
  cursor: pointer;
}



/* Sidebar Toggle */
.menu-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #6a5acd;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 1001;
}
/* Sidebar Toggle Button */
.sidebar-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  background: #6a5acd;
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1001;
  display: block;
}
